.VerticalList {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.VerticalList .VerticalListItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.VerticalList .VerticalListItem .VerticalListComponent {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.VerticalList .VerticalListItem .VerticalListInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.VerticalList .VerticalListItem .VerticalListInfo .VerticalListTitle {
  font-size: 16px;
  font-weight: bold;
}

.VerticalList .VerticalListItem .VerticalListInfo .VerticalListDescription {
  font-size: 12px;
  color: #9c9c9c;
}